<div class="back_contents">
  <div class="tweet_contents">
    <div class= tweet_brank></div>
    <div class= tweet_brank></div>
    <div class="tweet_main">
      <%= form_tag('/tweets', method: :post) do %>
        <div class="tweet_new">
        <h3 class="toukou">新規投稿</h3>
          <input class = form_new  placeholder="お題" type="text" name="name">
          <div class="custom-file">
            <input type="file" name="upload_file" id="upload_file" class="data_file" />
            <span id="preview_area"></span> 
          </div>
          <span id ="preview_areaas" ></span> 
          <input class = form_new  placeholder="五" type="text" name="firstphrase">
          <input class = form_new  placeholder="七" type="text" name="secondphrase">
          <input class = form_new  placeholder="五" type="text" name="thirdphrase">
          <textarea  class = comment_new cols="30" type="text" name="text" placeholder="コメント" rows="10"></textarea>
          <input class =  "btn btn-primary" id="toukou_btn" type="submit" value="投稿する">
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#upload_file').on('change', function(){ // onメソッドにより'#upload_file'が選択されると発火する
    var strFileInfo = $('#upload_file')[0].files[0]; //ファイルオブジェクトを変数にセット
    if(strFileInfo && strFileInfo.type.match('image.*')){ //strFileInfoにセットされたファイルが画像なら処理を続行

      $('#preview').remove();//表示しているプレビューがあれば削除
      $('#preview_area').append('<img id="preview" width="100" />');//#preview_areaに画像をセット

      fileReader = new FileReader();//FileReaderメソッドを初期化
      fileReader.onload = function(event){
        $('#preview').attr('src', event.target.result);
      }
      fileReader.readAsDataURL(strFileInfo); //画像フォルダが読み込まれる
    }
  });
</script>

