<div class='upper__wrapper'>
  <div class='logo'>
    俳句の園
  </div>
  <ul class='left__contents'>
    <li class='left__contents__link'>
      <%= link_to '俳句の園とは?', 'about' %>
    </li>
    <li class='left__contents__link'>
      <%= link_to '投稿する', 'tweets_new' %>
    </li>
    <li class='left__contents__link'>
      <%= link_to '投稿一覧', 'tweets' %>
    </li>
    <li class='left__contents__link'>
      <%= link_to '新規登録', '/users/sign_up' %>
    </li>
    <li class='left__contents__link'>
    </li>
  </ul>
</div>
