  <div class="what about-jumbotron jumbotron jumbotron-fluid mt-5">
    <h1 class="display-4 pl-5">俳句の園とは?</h1>
    <p class="lead mt-5 mb-3 pl-5 first-lead">俳句の園は、俳句投稿型のSNSです。</p>
    <p class="lead pl-5 mb-3">今の気持ちを五・七・五で表現し、他のユーザーへ共有することができます。</p>
    <p class="lead pl-5 mb-3">また、他のユーザーの投稿を見たり、コメントやいいねを付けて楽しむこともできます。</p>
    <p class="lead pl-5 mb-5">さぁ、あなたも今すぐ侘び寂びの世界へ！</p>
  </div>