  <div class="what about-jumbotron jumbotron jumbotron-fluid mt-5">
    <h1 class="display-4 pl-5">Spot Shareとは?</h1>
    <p class="lead mt-5 mb-3 pl-5 first-lead">Spot Shareは、スポット投稿型SNSです。</p>
    <p class="lead pl-5 mb-3">あなたのおススメスポットを「Googleストリートビュー」を用いて投稿し、世界中のユーザーへ共有することができます。</p>
    <p class="lead pl-5 mb-3">また、他のユーザーが投稿したエリアを見たり、コメントやいいねを付けて楽しむこともできます。</p>
    <p class="lead pl-5 mb-5">さぁ、あなたも新感覚のSNSを覗いてみませんか...？</p>
    <a class="btn btn-dark btn-lg ml-5" role="button" href="/users/sign_up">新規登録</a>
  </div>
