
.header{
  height: 100px;
  background-color: black;
  margin: auto;
  overflow: hidden;
  .upper__wrapper{
    height: 40px;
    padding-top: 10px;
    display: flex;
    .logo{
      font-size: 40px;
      color: white;
    }
    .left__contents {
      list-style: none;
      display: flex;
      float: left;
      &__link{
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;      
        &__text{
          font-size: 20px;
          color: white;
        }
      }
    }
  }
}


.title{
  height: 70px;
  vertical-align: middle ;
  text-align: left;
  font-family: serif;
  .title_logo{
    display: inline-block;
    font-size: 40px;
    color: white;
  }
  .title_btn{
    color: white;
    font-size:15px;
    display: inline-block;
    padding:  10px;
    a {color: white;
    }
  }
}

.top{
  position:relative;
  widows: 100%;
}
.top video{
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  background-size: cover;
}

.top p {
  position: absolute;
  top: 25%;
  left: 39%;
  font-size: 60px;
  color: #ffffff;
  font-family: serif;
}

.top audio {
  position: absolute;
  top: 50%;
  left: 39%;
  font-size: 60px;
  color: #ffffff;
}

.top::before{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
