.form-group{
  margin-top: 20px;
}

.register_back_contents{
  background : url( "/assets/images/register_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:1000px;
  }
  
